/***/
/*==========  5.2 - Dividers  ==========*/

hr {
    border-color: $color-border;
    border-width: 1px;
    max-width: 100%;
    margin: $baseline auto;
}

hr.divider-light-dark {
    
    border-color: $color-primary;
    border-width: 3px;
    width: 150px;
}

hr.divider-light {
    border-color: $color-bg-main;
    
    border-width: 3px;
    width: 50%;
}